@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat.ttf");
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 222 63% 15%;
    --card: 0 0% 98%;
    --card-foreground: 24 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 6% 10%;
    --primary: 221 85% 54%;
    --primary-foreground: 60 9% 98%;
    --secondary: 222 11% 81%;
    --secondary-foreground: 20 5% 15%;
    --muted: 216 100% 98%;
    --muted-foreground: 240 2% 46%;
    --accent: 217 98% 91%;
    --accent-foreground: 20 5% 15%;
    --destructive: 359 100% 60%;
    --destructive-foreground: 60 9% 98%;
    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 24 6% 10%;
    --success: 134 45% 49%;
    --success-accent: 129 100% 96%;
    --warning: 51 100% 50%;
    --warning-accent: 52 80% 90%;
    --info: 215 65% 54%;
    --info-accent: 217 100% 95%;
    --critical: 39 100% 50%;
    --critical-accent: 39 90% 92%;
    --error: 359 100% 60%;
    --error-accent: 0 71% 94%;
    --chart-1: 24 94% 53%;
    --chart-2: 171 72% 51%;
    --chart-3: 221 74% 33%;
    --chart-4: 49 97% 47%;
    --chart-5: 24 94% 53%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 220 10% 8%;
    --foreground: 0 0% 93%; 
    --card: 220 9% 10%;
    --card-foreground: 0 0% 93%;
    --popover: 220 9% 12%;
    --popover-foreground: 0 0% 93%;
    --primary: 221 85% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 249, 9%, 16%; 
    --secondary-foreground: 0 0% 93%;
    --muted: 220 10% 15%;
    --muted-foreground: 240 2% 65%;
    --accent: 217 90% 30%; 
    --accent-foreground: 0 0% 93%;
    --destructive: 359 80% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 20%;
    --input: 220 10% 20%;
    --ring: 221 85% 54%;
    --success: 134 50% 40%;
    --success-accent: 129 70% 25%;
    --warning: 51 100% 45%;
    --warning-accent: 52 80% 30%;
    --info: 215 70% 50%;
    --info-accent: 217 80% 30%;
    --critical: 39 90% 45%;
    --critical-accent: 39 80% 25%;
    --error: 359 80% 50%;
    --error-accent: 0 60% 30%;
    --chart-1: 24 85% 45%;
    --chart-2: 171 72% 40%;
    --chart-3: 221 74% 25%;
    --chart-4: 49 97% 40%;
    --chart-5: 24 85% 45%;
    --radius: 0.75rem;
  }
}

/* 
Primary Color (#2561ED) → HSL(220, 85%, 54%)
Secondary Color (#0F1D40) → HSL(223, 61%, 15%)
Background Color 1 (#121416) → HSL(210, 9%, 8%)
Background Color 2 (#1D1C21) → HSL(260, 7%, 12%)
Title Text Color (#FFFFFF) → HSL(0, 0%, 100%)
Body Text Color (#A4A9B6) → HSL(226, 12%, 69%) */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .card-gradient {
    @apply rounded-[24px];
background: linear-gradient(135deg, #EEEEEE 47.92%, #F6F6F6 60.42%, #EEEEEE 72.92%);

  }

  .sidebar {
    @apply bg-card;
    @apply shadow-[0px_8px_11px_-3px_rgba(0,0,0,0.08)];
  }
}

.page-transition{
  opacity: 0.25;
  filter: blur(2px);
  scale: 0.99;
}

#page-container{
    transition-property: opacity, scale, filter;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}